  <header >
    <div class="header container">
      <div>
        <img class="icon" src="/images/logo_248x248.png" alt="Meta-Biol logo"  >      
      </div>
      <div>
        <h1 class="header__title">
          <a href="/">Meta-Biol</a>
        <ul class="header__links">
          <li>
            <a class="header__link" href="/about">About</a>
          </li>
          <li>
            <a class="header__link" href="/description">Description</a>
          </li>
          <li>
            <a class="header__link" href="/sources">Sources</a>
          </li>
        </ul>    
      </div>
    </div>

	</header>