@import url('./reset.css');
@import url('./components/card.css');

/* CSS Variables */

:root {
  --slate-300: #cbd5e1;
  --slate-600: #475569;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

img,
picture {
  width: 50%;
  display: inline;
}

input,
button,
textarea,
select {
  font: inherit;
}



/* Utility Classes */

.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.content {
  flex: 1 0 auto;
}

.text-center {
  text-align: center;
}

/* Icon Styles */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

/* 2D Structure Image Styles */
.structure-image {
  
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  width: 20%;
  height: 20%;
  border-style: groove;
}

/* Header Styles */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  padding: 1rem 1.5rem;
}

.header__title {
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: var(--amber-600);
}

.header__links {
  display: flex;
  gap: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--amber-700);
}

.header__link {
  position: relative;
  font-size: 1.125rem;
}

.header__link::after {
  content: "";
  left: 0px;
  bottom: -4px;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: var(--amber-700);
  transform: scaleX(0);
  transition: transform 0.3s ease 0s;
}

.header__link:hover::after {
  transform: scaleX(1);
}

.footer {
  flex-shrink: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.heading--main {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--amber-600);
}

.tagline {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--amber-600);
}

/* Card Container Classes */
.home-card__container {
  margin: 1rem auto;
  max-width: 860px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}