---
title: "Eleventy Playground"
layout: "base.njk"
---
  <h1>{{ title }} - Home Page</h1>
  <h3> {% ElemTitle 1 %} </h3>

  <div class="home-card__container">
    {% ElemSection 1, 'History' %}
  </div>


