---
title: "Compounds"
layout: "base.njk"
---

<h2> Compounds</h2>

<ul>
  {%- for compound in Compounds %}
  <li><a href="/cid/{{compound.Cid}}" target="_blank">{{ compound.Title }}</a></li>
  {% endfor -%}
</ul>


