---
title: "Eleventy Playground"
layout: "base.njk"
---
  <h1>{{ title }} - Home Page</h1>

  <div class="home-card__container">
    {% Card title="Hello!!", link="/contact", linkText="Go To Contact" %}
    {% Card title="Hello!!", link="/contact", linkText="Go To Contact" %}
    {% ElemData %}
  </div>
