---
title: "Elements - Uses"
layout: "base.njk"
---
  <h1>Elements - Uses</h1>
  {% for i in range(1,93)-%}
  <h3> {% ElemRecordMeta i, 'RecordNumber' %} : {% ElemRecordMeta i, 'RecordTitle' %}</h3>  
    <div class="home-card__container">
      {% ElemSection i, 'Uses' %}
    </div>
  {%- endfor %}